header, h3, h4, footer{
    font-family: "Quicksand", "Verdana", sans-serif;
}

body{
    background-color: #E0FBFC;
}

article p{
    font-family: 'Raleway', sans-serif;
    line-height: 1.60em;
    padding: 0.5em;
    text-align: justify;
}

article{
    border-radius: 7px;
    padding: 1em;
    background-color: #DDDDDD;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header, body, footer{
    margin: 1.5rem auto;
    max-width: 900px;
}

header{
    background-color: #3D5A80;
    padding: 0.5em;
    color: white;
}

footer{
    background-color: #3D5A80;
    padding: 0.5em;
    margin-top: 15px;
    color: white;
}

footer, header{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

img{
    margin-top: 20px;
    border: solid;
    border-width: 2px;
    border-color: #566A8A;
    width: 100%;
}

.column-title{
    text-align: center;
    background-color: #293241;
    color: white;
    padding: 0.5em;
    letter-spacing: 0.15em;
}

#nike-p{
    line-height: 2.25em;
}