@media only screen and (max-width: 60em){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
    }

    body{
        margin-left: 2em;
        margin-right: 2em;
    }

    #nike-article{
        grid-column: 1 / 3;
    }
}