/*HTML selectors*/

@media only screen and (min-width: 60em) {
    h1 {
        font-size: 1.9rem;
    }
    nav a {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    main p {
        font-size: 1.2rem;
    }
    footer img {
        margin: 0;
    }
    footer p {
        font-size: 1.2rem;
    }
}