@media only screen and (max-width: 50em){
    header, nav, main{
        margin-left: 1em;
        margin-right: 1em; 
        font-size: 1em;
    }

    main{
        display: block;
    }

    section{
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
}