/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap'); */

:root {
    --p-font: 'Open Sans', sans-serif;
    --h-font: 'Poiret One', cursive;
    --accent1: #83C5BE;
    --accent2: #E29578;
    --bg1: #EDF6F9;
    --bg2: #FFDDD2;
    --bg3: #006D77;
}

* {
    margin: 0;
}

p,
a,
span {
    font-family: var(--p-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
.like-head {
    font-family: var(--h-font);
}

main {
    overflow-x: hidden;
}

.logo {
    width: 25px;
    height: auto;
}

.true-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.row-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.bigger-h {
    font-size: 4rem;
}

.btn {
    background-color: var(--bg2);
    padding: 1rem;
    border: 1px var(--bg1);
    margin: 10px;
    border-radius: 6px;
    font-family: var(--p-font);
}

.btn:hover {
    background-color: var(--accent2);
    cursor: pointer;
    transition: 500ms;
}

.btn-primary {
    font-size: 1.5rem;
}

.drk-overlay {
    background-color: rgba(0, 109, 119, 0.5);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}

.loaded {
    animation: fade-in 0.7s;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    from {
        transform: scale(0.9);
        border-radius: 100%;
    }
    to {
        transform: scale(1);
        border-radius: none;
    }
}

@media screen and (max-width: 600px) {
    .true-center-sm {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        text-align: center;
    }
    #div-double {
        grid-template-areas: "count" "weath";
    }
}


/* ----------------- Navigation ----------------- */

header {
    position: relative;
}

.topnav {
    background-color: var(--bg1);
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: var(--bg3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(:first-child) {
    padding: 17.5px 25px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: var(--accent1);
    color: black;
}


/* Add an active class to highlight the current page */

.topnav a.active {
    background-color: var(--bg3);
    color: white;
}

.topnav a.inactive {
    color: var(--bg3);
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
    display: none;
}

#fresh:hover::after {
    content: " 🍓";
}

#about:hover::after {
    content: " 🗣️";
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* ----------- Home Page ----------- */


/* Area Summary */

#hero-img {
    width: 100vw;
    height: auto;
}

#area-sum {
    position: relative;
    text-align: center;
    overflow: hidden;
}

#area-sum>h2 {
    position: absolute;
    font-size: 3rem;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    z-index: 3;
    background-color: var(--bg3);
    box-shadow: 0 0 10px 2px var(--accent1);
    padding: 10px;
    border-radius: 15px;
    text-shadow: 0px 0px 10px black;
}

#area-sum>div {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    padding: 30px 70px;
    background-color: rgba(0, 109, 119, 0.75);
    color: white;
}

@media screen and (max-width: 600px) {
    #area-sum>h2 {
        font-size: 2rem;
        text-decoration: none;
    }
    #area-sum>div {
        height: 98.5%;
        padding: 0;
        vertical-align: middle;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0%);
        padding-top: 30px;
        font-size: 0.9rem;
    }
}


/* CTA Make your drink */

#cta {
    height: 100vh;
}

#cta h2 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: glow;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 0px var(--accent2);
    }
    50% {
        text-shadow: 0 0 300px white;
    }
    100% {
        text-shadow: 0 0 0px var(--bg3);
    }
}

#orange-smoothie,
#blue-smoothie {
    position: absolute;
    z-index: -1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    width: 20vw;
    height: auto;
}

#blue-smoothie {
    left: 40%;
    transform: translate(-50%, 0%);
    transform: rotate(40deg);
}

#orange-smoothie {
    left: 40%;
    transform: translate(-50%, 0%);
    transform: rotate(-40deg);
}

.bounce-orange {
    animation-name: bounce-orange;
    animation-timing-function: ease;
}

@keyframes bounce-blue {
    10% {
        transform: rotate(40deg) scale(1.1, .9) translate(0, 0);
    }
    0% {
        transform: rotate(40deg) scale(1, 1) translate(0, 0);
    }
    30% {
        transform: rotate(40deg) scale(.9, 1.1) translate(-50px, -50px);
    }
    50% {
        transform: rotate(40deg) scale(1, 1) translate(0, 0);
    }
    57% {
        transform: rotate(40deg) scale(1, 1) translate(-7px, -7px);
    }
    64% {
        transform: rotate(40deg) scale(1, 1) translate(0, 0);
    }
    100% {
        transform: rotate(40deg) scale(1, 1) translate(0, 0);
    }
}

.bounce-blue {
    animation-name: bounce-blue;
    animation-timing-function: ease;
}

@keyframes bounce-orange {
    0% {
        transform: rotate(-40deg) scale(1, 1) translate(0, 0);
    }
    10% {
        transform: rotate(-40deg) scale(1.1, .9) translate(0, 0);
    }
    30% {
        transform: rotate(-40deg) scale(.9, 1.1) translate(50px, -50px);
    }
    50% {
        transform: rotate(-40deg) scale(1, 1) translate(0, 0);
    }
    57% {
        transform: rotate(-40deg) scale(1, 1) translate(7px, -7px);
    }
    64% {
        transform: rotate(-40deg) scale(1, 1) translate(0, 0);
    }
    100% {
        transform: rotate(-40deg) scale(1, 1) translate(0, 0);
    }
}

@media screen and (max-width: 600px) {
    .bounce-blue,
    .bounce-orange {
        animation: none;
    }
}


/* Drink Count */

#drink-count {
    grid-area: count;
    height: 80vh;
    background-color: var(--bg3);
    color: white;
    width: 50vw;
}


/* Weather */

#weather {
    grid-area: weath;
    height: 80vh;
    background-color: var(--accent2);
    width: 50vw;
}

#weath-img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-bottom: -40px;
}

#temp {
    float: inline-end;
}

#weather>hr {
    width: 50%;
    margin: 15px auto;
    color: var(--bg1);
    border: 0;
    height: 0;
    border: none;
    box-shadow: 0 0 0px 1px var(--bg2);
}

.forecast {
    padding: 20px;
    margin: 10px;
    background-color: var(--bg1);
    border-radius: 25px;
    font-weight: 800;
}

.forecast p {
    line-height: 1.5rem;
}

.hi {
    color: orangered;
}

.lo {
    color: var(--bg3);
}

@media screen and (max-width: 600px) {
    #drink-count {
        width: 100vw;
    }
    #weather {
        width: 100vw;
    }
    #weath-img {
        width: 100px;
        margin: 0 auto;
    }
}


/* Footer */

footer {
    height: 20vh;
    color: black;
    padding: 30px;
}

footer i {
    color: var(--accent2);
}

footer i:hover {
    color: var(--bg3);
    transition: 500ms;
}

.social-links {
    font-size: 3rem;
    margin: 20px;
}

.social-links a {
    margin: 10px;
}

.contact-foot {
    margin-bottom: 20px;
}


/* ---------------- About Us ---------------- */

#history-txtbx {
    background-color: #006D77;
    color: white;
    padding: 50px;
}

#our-story h2 {
    color: white;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

#contact {
    background-color: var(--accent2);
    padding: 5%;
}

#contact-container {
    text-align: left;
}

@media screen and (max-width: 600px) {
    #gmap-container iframe {
        height: 300px;
        width: 300px;
    }
    #our-story>img,
    #our-story .drk-overlay {
        display: none;
    }
    #our-story h2 {
        color: black;
        text-align: center;
        padding: 10px;
    }
    #contact-container {
        margin: 15px;
    }
}